* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body,
html {
  height: 100%;
  background: linear-gradient(to right, #4a90e2, #50e3c2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign-up-box {
  background: rgba(255, 255, 255, 0.95);
  padding: 50px 40px;
  border-radius: 20px;
  text-align: center;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
}

.sign-up-box label {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-weight: 600;
  color: #333;
  text-align: left;
}

.sign-up-box input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-top: 5px;
  font-size: 14px;
}

.Btn1 {
  margin-top: 10px;
  padding: 12px;
  border: none;
  background: #4a90e2;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.Btn1:hover {
  background: #357ac9;
}

.Btn {
  margin-top: 10px;
  padding: 12px;
  border: none;
  background: #4a90e2;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}
.Btn:hover {
  background: #357ac9;
}

.sign-up-box > h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #333;
}
